body {
    background-color: lightblue;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.center img, .center video, .center iframe, .center audio {
    margin: 10px 0;
}
